@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Mr E Online</h1>
    <p class="lead">
        Welcome to Mr. E Online Rental<br />
        Where you can do video rentals online.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

