@model MrE.Models.Entities.Video

@{
    ViewBag.Title = "Create Video";
}

<script src="~/Scripts/lodash.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_Form")
        }
    </div>
</div>