@model MrE.Models.Entities.Genre

@{
    ViewBag.Title = "Create";
}

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_ViewForm")
        }
    </div>
</div>

