@model MrE.Models.Entities.Genre

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Html.Partial("_Details")
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">
            <i class="fa fa-save"></i>&nbsp;Edit
        </a>
        <a href="@Url.Action("index")" class="btn btn-default">
            <i class="fa fa-chevron-circle-left"></i>&nbsp;Back
        </a>
    </div>
</div>