@model IEnumerable<MrE.Models.Entities.Cast>

<div class="card">
    <div class="card-body">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @{
                    var counter = 1;
                }
                @foreach (var item in Model) {
                    var active = string.Empty;
                    if (counter == 1) {
                        active = "active";
                    }
                    counter++;

                    <div class="item carousel-item @active" data-VideoId="@item.VideoId" data-CastId="@item.Id">
                        @if (item.Data == null) {
                            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                        } else {
                            <img src="data:image/png;base64,@System.Convert.ToBase64String( item.Data)" alt="..." class="d-block w-100">
                        }

                        <div class="carousel-caption d-none d-md-block">
                            <h3>@item.CastMembers</h3>
                            <p></p>
                        </div>
                    </div>
                }

            </div>
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="fa fa-chevron-left fa-2x" aria-hidden="true" style="color:#000"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="fa fa-chevron-right fa-2x" aria-hidden="true" style="color:#000"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        // Variables:
        var nItems = 0;
        var iCurrentSlide = 1;
        var iNextSlide = 2;
        var iSlideInterval = 3; // in seconds
        var looper = null;
        var currentCast = $('data-CastId')
        $(function () {
            // Show the first slide and start the slide show:
            $(".carousel > .carousel-item").show();
            startSlider();

            // Make the slide show stop on slide hover:
            $(".carousel > div").hover(
                function () {
                    // onmouseover
                    window.clearInterval(looper);
                    document.getElementById("status-indicator").innerText = "stopped";
                },
                function () {
                    // onmouseout
                    startSlider();
                    document.getElementById("status-indicator").innerText = "started";
                }
            );
        })



        function startSlider() {
            nItems = $(".carousel > div").size();

            looper = setInterval(function () {
                if (iNextSlide > nItems) {
                    iCurrentSlide = 1;
                    iNextSlide = 1;
                }

                $(".carousel > div").hide();
                $(".carousel > .item" + iNextSlide).show();

                iCurrentSlide = iNextSlide;
                iNextSlide++;
            }, iSlideInterval * 1000);
        }

        function showSlide(isPrev) {
            window.clearInterval(looper);

            var iNewSlide = 0;

            if (isPrev) {
                // Show previous slide:
                iNewSlide = --iCurrentSlide;
            } else {
                // Show next slide:
                iNewSlide = ++iCurrentSlide;
            }

            if (iNewSlide > nItems) iNewSlide = 1;
            else if (iNewSlide < 1) iNewSlide = nItems;

            $(".carousel > div").hide();
            $(".carousel > .item" + iNewSlide).show();

            iCurrentSlide = iNewSlide;
            iNextSlide = iNewSlide + 1;

            startSlider();
        }
    </script>
}