@model MrE.Models.Entities.Cast

@{
    ViewBag.Title = "Add Cast Member";
   
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.VideoId)
            @Html.Partial("_Form")
        }

    </div>
</div>        